TG_API_ID=
TG_API_HASH=
TG_SESSION_NAME=apuestas_hydrogram
# Opcional si quieres evitar login interactivo:
# TG_SESSION_STRING=
TG_WORKDIR=/app/data/sessions
ALLOWED_CHANNELS=@canal1,@canal2,-1001234567890
RANDOM_DELAY_ENABLED=true
RANDOM_DELAY_MIN=5
RANDOM_DELAY_MAX=30
